.divClientes {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* width: 100%; */
}

.divClientes h1 {
  color: #f7f7f7;
  margin-top: 50px;
  margin-bottom: 10px;
}

.card {
  display: grid;
  justify-content: center;
  align-items: stretch;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 38px;
}
